<!-- Footer -->
<footer class="text-center text-lg-start mt-5" style="background-color: #fff;">
    <hr>
    <div class="container mb-5 mt-5">
      <div class="row">
          <div class="col-sm-4 mb-5">
            <h5 class="text-uppercase mb-4">About company</h5>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
            voluptatum deleniti atque corrupti.
          </p>
          <p>
            Blanditiis praesentium voluptatum deleniti corrupti quos dolores et
            molestias.
          </p>
            <div class="">
              <a type="button" class="btn btn-floating btn-dark"><i class="fab fa-facebook-f"></i></a>
              <a type="button" class="btn btn-floating btn-dark"><i class="fab fa-dribbble"></i></a>
              <a type="button" class="btn btn-floating btn-dark"><i class="fab fa-twitter"></i></a>
              <a type="button" class="btn btn-floating btn-dark"><i class="fab fa-google-plus-g"></i></a>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
          <div class="col-sm-4 mb-5">
            <h5 class="text-uppercase mb-4 pb-1">Search something</h5>
          <div class="form-outline form-white mb-2">
            <input type="text" id="formControlLg" class="form-control form-control-lg p-2" />
            <label class="form-label" for="formControlLg">Search</label>
          </div>

          <ul class="fa-ul list-unstyled mx-0">
            <li class="mb-1">
              <i class="fas fa-home"></i><span class="" style="margin-left: 4px;">Warsaw, 00-967, Poland</span>
            </li>
            <li class="mb-1">
              <i class="fas fa-envelope"></i><span class="" style="margin-left: 4px;">contact@example.com</span>
            </li>
            <li class="mb-1">
              <i class="fas fa-phone"></i><span class="" style="margin-left: 4px;">+ 48 234 567 88</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
          <div class="col-sm-4 mb-5">
            <h5 class="text-uppercase">Opening hours</h5>
            <table class="table text-white">
              <tbody class="fw-normal">
                <tr>
                  <td>Mon - Thu:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Fri - Sat:</td>
                  <td>8am - 1am</td>
                </tr>
                <tr>
                  <td>Sunday:</td>
                  <td>9am - 10pm</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="copyright-div text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2025 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">FX Logistics</a>
    </div>
  </footer>