<!-- Service 1 section -->
<div class="card service container">
    <div class="row">
      <div class="col-md-8">
        <div class="card-body my-md-5">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text pb-3"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
      </div>
      <div class="col-md-4 my-md-5">
        <img src="images/about-img.jpg" class="service-image img-fluid rounded-0" alt="...">
      </div>
    </div>
  </div>  
